@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section {
    visibility: hidden;
    opacity: 0;
  
    &.open {
      visibility: inherit;
      opacity: 1;
    }
  
    transition: opacity 250ms ease-in;
  }
